openai
requests
beautifulsoup4
firebase-admin
pandas
htmldate
google-generativeai
python-dotenv
vertexai
fastapi
uvicorn
playwright
gradio
matplotlib
wordcloud
underthesea
schedule
langdetect
streamlit